Coloring Book/BuildReports
Coloring Book/UserSettings
*.csproj
*.sln
Coloring Book/obj
Coloring Book/Logs
Coloring Book/.vs
Coloring Book/Library
Coloring Book/Builds
*.vsconfig
Coloring Book/Assets/Spine Examples
Coloring Book/Assets/TextMesh Pro
Coloring Book/Temp
Coloring Book/Assets/Firebase
Coloring Book/Assets/Screenshots
